*.iml
.gradle/
.kotlin/
/local.properties
local.properties
/.idea/
.DS_Store
/build/
app/build/
/captures
.externalNativeBuild
.cxx
# Firebase
app/google-services.json
temp/
*.jks
*.keystore
app/release/
